
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  /* padding: 20px; */
  text-align: center;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 20px 0;
}

button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #555;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.col {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: box-shadow 0.2s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card h2 {
  margin-top: 0;
}

.card p {
  flex: 1;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .container {
    padding: 30px;
  }

  .row {
    display: block;
    margin: 0 -10px;
  }

  .col {
    padding: 10px;
  }
}