.form{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top{
    width: 400px;
    height: 160px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center{
    width: 400px;
    height: 50px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2px;
}

.center button{
    border: none;
    cursor: pointer;
}

.bottom{
    width: 400px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 2px;
    padding-bottom: 3rem;
}
